.bio {
  display: flex;
  margin: 1%;
}

.bio-details {
  text-align: left;
}

.ryan-pic {
  height: 15%;
  width: 25%;
}

.nash-pic {
  height: 25%;
  width: 100%;
}

.bio-details {
  width: 100%;
  margin: auto 5% auto 5%;
}

.tech {
  display: flex;
  justify-content: center;
}

.proficiencies {
  display: flex;
  flex-direction: row;
}

