.bio {
    display: flex;
    margin: 1%;
  }
  
.ryan-pic {
    height: 15%;
    width: 25%;
  }
  
.bio-details {
    width: 100%;
    margin: auto 5% auto 5%;
  }

.proficiencies {
    display: flex;
    flex-direction: row;
}