// .header-section {
//     background-color: #b9c9c7;
//     border-right: 15px solid #f1dec8;
//     border-top: 3px solid #f1dec8;
//     border-bottom: 3px solid #f1dec8;
//     border-left: 15px solid #f1dec8;
//     border-radius: 15px 50px;
//     display: flex;
//     justify-content: space-between;
//     padding: 5px 10px;
//     padding-right: 25px;
// }

.header-section {
    background-color: #b9c9c7;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    padding-right: 25px;
}

.navigation {
    align-self: flex-end;
}

.header-icon {
    width: 45px;
    height: 40px;
}

.email-icon {
    width: 45px;
    height: 35px;
}