@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'header';
@import 'bio';
@import 'projectcards';

body {
  background-color: $favColor;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  
  padding: 10px;
}

ul {
  display: flex;
  justify-content: center;
}

ul p {
  margin: 12px;
}